.places__like{
  background-image: url("../../../images/like-disable.svg");
  background-size: cover;
  margin-top: 5px;
  margin-right: 5px;
  background-color: white;
  border: none;
  width: 22px;
  height: 19px;
  opacity: 1;
  transition: opacity .2s linear .2s;
}

.places__like:hover{
  opacity: 0.5;
  cursor: pointer;
}

