.places{
  display: grid;
  max-width: calc(100% - 2*200px);
  margin: 45px auto 0;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;

}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places{
    max-width: calc(100% - 2*50px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places{
    max-width: calc(100% - 2*50px);
    margin: 36px auto;
  }
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .places{
    max-width: calc(100% - 2*19px);
    margin: 0 auto;
  }
}
