.popup__input{
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 28px;
  padding: 0 0 10px 0;
  outline: 0;
}

.popup__input::-webkit-input-placeholder{
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.popup__input::-moz-placeholder{
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.popup__input::-ms-input-placeholder{
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.popup__input::placeholder{
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
