.profile{
  max-width: calc(100% - 2*200px);
  margin: 0 auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile{
    max-width: calc(100% - 2*50px);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile{
    justify-content: center;
    max-width: calc(100% - 2*19px);
  }
}
