.profile__add{
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  color: white;
  background-image: url("../../../images/add-icon.svg");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  margin-left: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0;
  transition: opacity .2s linear .2s;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__add{
    width: 100%;
    background-size: 16px 16px;
    margin: 34px 0;
  }
}

.profile__add:hover{
  opacity: 0.6;
  cursor: pointer;
}
