.footer{
  max-width: calc(100% - 2*200px);
  margin: 67px auto 60px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer{
    max-width: calc(100% - 2*50px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer{
    max-width: calc(100% - 2*50px);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer{
    max-width: calc(100% - 2*19px);
    margin-top: 48px;
    margin-bottom: 36px;
  }
}

