.places__delete {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 20px;
  right: 20px;
  box-sizing: border-box;
  background-image: url("../../../images/delete-button.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  z-index: 1;
  transition: opacity 0.2s linear 0.2s;
}

.places__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}
